<%- include('../_partial/_header') %>



  <div class="card mt-3">
    <div class="panel panel-default">
    
      <div class="panel-heading">
        <h3>Michael</h3>
        <p class="text-secondary mb-1"> Developer</p>
        <p class="text-muted font-size-sm">Hong Kong</p>
        
      </div>
    </div>
  </div>
  
  <div class="card mt-3" style="text-align: center;">
    
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="mb-0">Name</h3>
          </div>
          <div class="col-sm-6 text-secondary">
            <h3 class="mb-0">Michael</h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h3 class="mb-0">Email</h3>
          </div>
          <div class="col-sm-6 text-secondary">
           <h3 class="mb-0">xex78772176@gmail.com</h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h3 class="mb-0">Phone</h3>
          </div>
          <div class="col-sm-6 text-secondary">
           <h3 class="mb-0">unavailable</h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h3 class="mb-0">Mobile</h3>
          </div>
          <div class="col-sm-6 text-secondary">
            <h3 class="mb-0">unavailable</h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h3 class="mb-0">Address</h3>
          </div>
          <div class="col-sm-6 text-secondary">
            <h3 class="mb-0">Kownloon, Hong Kong</h3> 
          </div>
        </div>
        <hr>
        
        </div>
    
  </div>




  <div class="card mt-3" style="text-align: center;">

   
    <ul class="list-group list-group-flush">
     
      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
        <h3 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h3>
        <a href="https://github.com/xex78772176">xex78772176</a>
      </li>
      
    </ul>
  
  </div>

  <div class="card mt-3">

    <div class="row gutters-sm">
      <div class="col-sm-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Skills</i></h3>
            <small>Web Design</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small>Animation(3ds Max)</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small>Game development(C#)</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small>Mobile development(Java)</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small>Web development(node.js, python)</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Language</i></h3>
            <small>Cantonese</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small>English</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small>Mandarin</small>
            <div class="progress mb-3" style="height: 5px">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>



<%- include('../_partial/_footer') %>